<div class="container background img-fluid">

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  
    <div class="row p-0 m-0 text-color">

        <div class="col-sm"></div>
  
        <div class="col-sm p-5">
  
          <h2 class="form-signin-heading" style="color: black">Sign Up MeetingPlanner</h2>
  
          <br>
          <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons" aria-label="Basic example">
            <button type="button" class="btn btn-success" (click)="checkAdmin(false)">Regular</button>
            <button type="button" class="btn btn-danger" (click)="checkAdmin(true)">Admin</button>
          </div>
          <br>
          <br>
  
          <span>FirstName: </span>
  
          <label for="inputFirstName" class="sr-only">FirstName</label>
  
          <input type="text" #first="ngModel" pattern="^[A-Z][A-za-z ]+$" minlength="2" id="inputFirstName" name="firstName" class="form-control"
            [(ngModel)]="firstName" placeholder="FirstName" required autofocus>
  
          <br>
          <div [hidden]="first.pristine || first.valid" class="alert alert-danger">
            <div *ngIf="first.errors?.pattern">
              ** First name should only start with Capital and contain only letters !
              <div *ngIf="first.errors?.minlength">
                ** First Name should contain minimum 2 letters!
              </div>
            </div>
            <div *ngIf="first.errors?.required">
              ** First Name is required!
            </div>
  
          </div>
          <br>
  
          <span>LastName: </span>
  
          <label for="inputLastName" class="sr-only">LastName</label>
  
          <input type="text" #last="ngModel" pattern="^[A-Z][A-za-z ]+$" minlength="2" id="inputLastName" name="lastName" class="form-control"
            [(ngModel)]="lastName" placeholder="LastName" required>
  
          <br>
          <div [hidden]="last.pristine || last.valid" class="alert alert-danger">
            <div *ngIf="last.errors?.pattern">
              ** Last name should only start with Capital and contain only letters !
              <div *ngIf="last.errors?.minlength">
                ** Last Name should contain minimum 2 letters!
              </div>
            </div>
            <div *ngIf="last.errors?.required">
              ** Last Name is required!
            </div>
  
          </div>
          <br>
  
          <span class="sub-heading">UserName: </span>
  
          <label for="inputUserName" class="sr-only">UserName</label>
  
          <input type="text" #user="ngModel" pattern="^[A-Z][A-za-z0-9- ]+$" minlength="2" id="inputUserName" name="userName" [(ngModel)]="userName"
            class="form-control" placeholder="UserName" required>
          <br/>
  
          <div [hidden]="user.pristine || user.valid" class="alert alert-danger">
            <div *ngIf="user.errors?.pattern">
              ** User name should only start with Capital letter and contain only letters & digits !
              <div *ngIf="user.errors?.minlength">
                ** User Name should contain minimum 2 letters!
              </div>
            </div>
            <div *ngIf="user.errors?.required">
              ** User Name is required!
            </div>
  
  
          </div>
  
          <div *ngIf="isAdmin && userName">
  
            <div *ngIf="!validateUserName()" class="alert alert-danger">
  
              ** Invalid User Name as admin!
  
            </div>
  
  
          </div>
          <br>
  
          <span>Email: </span>
  
          <label for="inputEmail" class="sr-only">Email address</label>
  
          <input type="email" #emailId="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="inputEmail" class="form-control"
            name="emailId" [(ngModel)]="email" placeholder="Email address" required>
  
          <br>
          <div [hidden]="emailId.valid || emailId.pristine" class="alert alert-danger">
            <div *ngIf="emailId.errors?.pattern">
              ** Email is invalid!
  
            </div>
            <div *ngIf="emailId.errors?.required">
              ** Email is required!
            </div>
          </div>
          <br>
  
          <span>Password: </span>
  
          <label for="inputPassword" class="sr-only">Password</label>
  
          <input type="password" #pass="ngModel" pattern="^[A-Z]\w{7,}$" id="inputPassword" class="form-control" name="pass" [(ngModel)]="password"
            placeholder="Password" required>
  
          <br>
          <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
            <div *ngIf="pass.errors?.pattern">
              ** Password should contain atleast 8 characters or numeric digits or underscore and start with capital!
  
            </div>
            <div *ngIf="pass.errors?.required">
              ** Password is required!
            </div>
          </div>
          <br>
  
          <span>Confirm Password: </span>
  
          <label for="inputConPassword" class="sr-only">Confirm Password</label>
  
          <input type="password" #conPass="ngModel" id="inputConPassword" class="form-control" name="conPass" [(ngModel)]="confirmPassword"
            placeholder="Confirm Password" required>
  
          <br>
  
          <div [hidden]="conPass.pristine || password==confirmPassword" class="alert alert-danger">
            <div *ngIf="password!=confirmPassword">
              ** Password and Confirm Password does not match!
            </div>
            <div *ngIf="conPass.errors?.required">
              ** Confirm Password is required!
            </div>
          </div>
  
          <span class="sub-heading">Country: </span>
  
          <label for="inputCountry" class="sr-only">Country</label>
  
          <select [(ngModel)]="country" #Country="ngModel" name="country" class="form-control" id="inputCountry" (click)="onChangeOfCountry()"
            required>
            <option value="">Select</option>
            <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
          </select>
          <br>
          <div [hidden]="Country.valid || Country.pristine  " class="alert alert-danger">
            ** Country Name is required
          </div>
  
          <span>Mobile: </span>
  
          <label for="inputMobile" class="sr-only">Mobile</label>
          <div class="input-group">
            <div class="input-group-text">+{{countryCode}}</div>
            <input type="number" #mobileNum="ngModel" pattern="^\d{10}$" id="inputMobile" class="form-control" name="mobile" [(ngModel)]="mobileNumber"
              placeholder="Mobile" required>
          </div>
  
  
          <br>
          <div [hidden]="mobileNum.valid || mobileNum.pristine" class="alert alert-danger">
            <div *ngIf="mobileNum.errors?.pattern">
              Mobile Number should only start contain only 10 digits!
  
            </div>
            <div *ngIf="mobileNum.errors?.required">
              Mobile Number is required!
            </div>
          </div>
  
          <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signupFunction()">Sign Up</button>
          <div class="row">
              <a class="offset-6 col-6 text-right" [routerLink]="['/login']">login</a>
          </div>
        </div>
  
        <div class="col-sm"></div>
  
      </div>
  
  </div>